*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    text-transform: capitalize;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    position: relative;
}

.header .nav{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
ul{
    display: flex;
    list-style: none;
    
}
ul li a{
    font-size: 24px;
    text-decoration: none;
    margin: 0 20px;
    color: black;

}
.nav .icon i {
    font-size: 24px;
    margin: 0 20px;

}
ul li a:hover{
    color: green;
}

#check{
    display: none;
}

.header .icon label i{
    display: none;
}

.header .nav .icon{
    display: flex; 
}

#product {
    padding-left: 25px;
    padding-right: 25px;
    max-width: 1080px;
    margin: auto;
  }
  #product .row1 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }


  #product .heading1{
    margin: 50px 0;
    color: gray;
   
  }
  #product .heading1 a{
    text-decoration: none;
    color: #8a8a8a;
  }

  #product .heading1 a:hover{
    color: #2DA884;
  }

  #product .heading2{
    margin-bottom: 50px ;
    color: green;
  }


  /* section4................................................................................. */

  .container .cart{
    height: 40px;
    width: 150px;
    background-color: #2DA884;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.section4 h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.section4{

    padding-left: 25px;
    padding-right: 25px;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 50px;
   

}

.section4 .col1{

    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    column-gap: 20px;
   
}
.container img{
    width:100%;
}

.section4 .col1 .container h4{

    margin: 20px 0;
}
.section4 .col1 .container h5{
    margin-bottom: 20px;

}


/* footer ................................*/
.footer {
    background-color: black;
    color: #8a8a8a;
  }
  .footer .container-9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 25px;
    margin: auto;
    max-width: 1300px;
    margin-top: 50px;
  }
  .footer .container-9 .footer-col-1 {
    flex-basis: 25%;
  }
  .footer .container-9 .footer-col-1 .app-logo {
    margin-top: 20px;
  }
  .footer .container-9 .footer-col-1 .app-logo img {
    width: 140px;
  }
  .footer .container-9 .footer-col-2 {
    flex-basis: 25%;
    text-align: center;
  }
  .footer .container-9 .footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
  }
  .footer .container-9 .footer-col-2 .footer-col-3 {
    flex-basis: 25%;
  }
  .footer .container-9 .footer-col-3 ul{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: #2DA884;
  }
  
  .footer .container-9 .footer-col-4 ul{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      color: #2DA884;
  
  }
  .footer h3 {
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .footer p {
    color: #8a8a8a;
    font-size: 14px;
    text-align: center;
  }
  .footer ul {
    list-style: none;
  }
  .footer .copyright {
    color: white;
  }
  .footer hr {
    color: white;
  }


  .copyright{
    background-color: black;
}
.copyright h4{
    color: white;
    text-align: center;
}

  



@media screen and (max-width:1062px){
    .header .icon label i{
        display:block;
    }
     .header .nav .nav1 ul {
        position: absolute;
        top: 70px;
        left: 0;
        bottom: 10%;
        display: flex;
        line-height: 50px;
        justify-content: flex-end;

       
       
       
      
      
       display: none;
       width: 100%;
      background-color: olivedrab;
       z-index: 100;
    }

    .header .nav .nav1 ul li{
        background-color: orange;
        opacity: 0.8;
    }
    .header .nav .nav1 ul li a{
        font-size: 20px;
        font-weight: 700;
    }
    

   

#check:checked~.header .nav .nav1 ul{
    display:block;

   
}
}


@media screen and (max-width:800px){
    .section4 .col1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 20px;
    }
    .section4 .col1 img{
        height: 278.5px;
    }
}


@media screen and (max-width:500px)
{
    .section4 .col1{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        text-align: center;
    }
    .section4 .col1 .cart{
       
            margin: auto;
            
        }
    }
    .section4 .col1 img{
        height: 300px;
    }

}

@media screen and (max-width:700px)
{
.footer .container-9{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    text-align: center;
    gap: 20px;

}

}
@media screen and (max-width:500px){
    .footer .container-9{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        text-align: center;
        gap: 20px;
    
}


}